body {
  margin: 0;
  padding: 0;
  background-color: #312B59;
  color: #fff;
}

.book-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.book-info .book-user {
  padding-top: 20px;
  padding-left: 40px;
  font-family: maharlika, serif;
  text-align: center;
}
.book-info .book-user h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-info .book-user button {
  background-color: #FFDE59;
  font-family: "DM sans", sans-serif;
  text-align: center;
  color: #312B59;
  margin-top: 20px;
  border: none;
}
.book-info .book-user button:hover {
  transform: scale(1.05);
}

.book-item {
  padding-top: 40px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: flex-start;
}
.book-item img {
  padding-left: 10%;
  scale: 1.2;
}
.book-item .book-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12%;
  scale: 1.2;
}
.book-item .book-rating #set-rating {
  text-decoration: underline;
  color: aliceblue;
  font-size: 1rem;
}
.book-item .book-rating #set-rating:hover {
  color: #FFDE59;
  font-size: 1rem;
}
.book-item .book-rating #set-rating:hover svg {
  font-size: 1rem;
}
.book-item .title-author {
  align-self: flex-end;
}

.back-button {
  padding-bottom: 30px;
}
.back-button a {
  text-decoration: none;
  font-weight: 800;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}
.back-button h1 {
  position: relative;
  right: 30px;
  font-size: 3rem;
}

.book-notes {
  margin-top: 10%;
  margin-left: 3%;
}
.book-notes h2 {
  font-size: 3rem;
  font-family: maharlika, sans-serif;
}

.notes-header {
  display: flex;
  justify-content: space-between;
}
.notes-header button {
  align-self: center;
  background-color: white;
  font-family: "DM sans", sans-serif;
  text-align: center;
  color: #312B59;
  margin-right: 40px;
  padding: 3px;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  text-align: center;
}
.notes-header button h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.notes-header button:hover {
  transform: scale(1.1);
}

#edit-rating {
  display: flex;
  flex-direction: row;
}

.rating {
  display: flex;
  flex-direction: row;
}

.star {
  background-color: #312B59;
  border: none;
}

#edit-anchor {
  font-size: 0.5rem;
  color: grey;
}

#edit-anchor:hover {
  color: #fff;
  font-size: 0.5rem;
  transform: scale(1.1);
}

.set-rating {
  color: white;
  font-size: 1rem;
}

.set-rating:hover {
  color: #FFDE59;
  cursor: pointer;
}

.notes-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 30px;
  margin-right: 40px;
  font-size: 1.5rem;
}
.notes-list .note {
  padding-bottom: 40px;
  width: -moz-max-content;
  width: fit-content;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.notes-list .note svg {
  position: relative;
  opacity: 0.7;
  fill: gray;
}
.notes-list .note svg:hover {
  fill: red;
}

#layer::before {
  content: "";
  position: absolute;
  background-color: gray;
  opacity: 0.85; /* 70% opacity for the background */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Place the background behind the content */
}

#layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
#layer #new-note-form {
  border: none;
}
#layer #new-note-form input {
  color: white;
  background-color: #312B59;
  border: none;
}
#layer #new-note-form input:hover {
  background-color: #FFDE59;
}
#layer h2 {
  font-family: maharlika, sans-serif;
  width: 40%;
  font-size: 2.5rem;
  color: #fff;
  justify-self: flex-start;
}

#text-area {
  height: 200px;
  width: 400px;
  resize: none;
  overflow-wrap: break-word;
  font-weight: 800;
  border: 2px solid #ccc;
  padding: 5px;
  font-size: 25px;
  font-family: "DM sans", sans-serif;
}

#text-area:hover {
  border: none;
  box-shadow: 0px 1px 3px 5px #FFDE59;
}

#text-area:focus {
  border: none;
  box-shadow: 3px 1px 3px 5px #FFDE59;
}

#backx:hover {
  cursor: pointer;
}

#edit-anchor {
  white-space: nowrap;
}

#change-book-status {
  font-size: 0.8rem;
  color: grey;
  text-align: end;
}

#change-book-status:hover {
  color: #FFDE59;
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "DM sans", sans-serif;
}
.dropdown-content input {
  text-decoration: none;
  border: 4px solid #FFDE59;
  color: #312B59;
  padding: 3px;
  background-color: #FFDE59;
  text-align: center;
}
.dropdown-content input:hover {
  background-color: #312B59;
  color: #FFDE59;
}/*# sourceMappingURL=single.css.map */

#new-note-form{
  display: flex;
  flex-direction: column;

 
}

#new-note-form input{
  padding: 3px;
  margin-top: 20px;
}

#new-note-form input:hover{
  color: #312B59;
}

#new-note{
  position: relative;
  bottom: 5px;
}

.book-title{
  font-weight: 300;
}

.book-author{
  font-style: italic ;
}

@media(max-width:992px){

  
  .book-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .book-item{
    display: flex;
    flex-direction: column;
    
  }
  .book-item img{
    transform: scale(0.8);
  }

  .book-rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20%
  }

  #edit-rating{
   padding: 20px;
   margin-bottom: 10%;
  }


  .title-author{
    margin-bottom: 15%;
  }

  .horizontal-rule{
    background-color: #fff;
    height: 1px;
    width: 300px;
    
    margin-bottom: 10%;
    
  }

  .book-user .horizontal-rule{
    margin-right: 0%;
    height: 1.5px;
    
    margin-top: 40px;
    position: relative;
    width: 100%;
    
  }

  .book-notes{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .notes-header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  #layer h2{
    display: flex;
    
  }

  #layer h2 h5{
    margin-top: 4px;
    font-size: 1.8rem;
  }
}