$main-blue: #312B59;


body{
    margin: 0;
    padding: 0;
    background-color: $main-blue;
    
}



a{
    text-decoration: none;
}

.nav-flex{
    display: flex;
    flex-flow: row wrap;

    background-color: white;
    justify-content: space-between ;
    align-items: center;
    padding: 15px;
    padding-bottom: 10;

    .brand-cus{
       margin-left: 3%;
        font-family:Maharlika,serif;
        font-weight: bold;
        

        h1{
            color: #FFDE59;
            font-size: 2.5rem;
        }
    }


    .search-bar{
        
        padding-bottom: 15px;
        input{
            margin: 0;
            padding: 5px;
            border: 1px solid gray;
            height: 32px
            
        };
        
        

        button{
            background-color: $main-blue;
            color: white;
            border: none;
            border-radius: 5%;
            height: 35px;
            width: 40px;
        }
    }

    .search-bar{

    form:hover{ /* Change the background color on hover */
      transform: scale(1.00); /* Slightly scale up on hover for a modern effect */

      input{
        box-shadow: 1px 1px 2px 2px $main-blue;
        border: none;
      }

      

      button:hover{
        background-color: #FFDE59;
      }
    }
}
    .nav-options{
        display: flex;
        flex-direction: row;
        margin-right: 5%;
        font-family: 'DM Sans', sans-serif;
        a{
            color: black;
            text-decoration: none;
            margin-right: 8px;
        h3{
            font-size: 1.2rem;
            padding: 5px;
            
        }}
    }

    input:focus {
        
        border-width:2px ;
        border-color:#FFDE59 ; /* Change the border color when the input is focused */
      }
}


.mylib-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;



.mylib-header{
    padding-top: 30px;
    display: flex;
    color: white;
    font-family: 'DM Sans', sans-serif;
    align-items: center;
    
    h1{
        font-size: 3rem;
        display: flex;
        font-family: 'DM Sans', sans-serif;
    }

    #vertical-rule{
        height: 100px;
        background-color: white;
        width: 2px;
        margin-left: 30px;
    }
    
    #mylib-stats{
        
        margin-left: 5%;
        .mylib-stat{
            display: flex;
            width: fit-content;
            align-items: center;
            margin-right: 10px;
            letter-spacing: 1px;

            h4{
                text-wrap: nowrap;
            }
            span{
                margin-bottom: 2px;
                margin-left: 5%;
                margin-right: 5px;
                font-size: 1.2rem;
                font-weight: bolder;
                text-align: center;
            }
        }

    }
}

}

@mixin theme($theme:white){

    color: $theme;
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-decoration: none;
   
    
}

.books-display-container{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;


    .book-item{
        color: white;
        
        .book-title{

            @include theme;
            padding-top: 30px
        }

        .book-author{
            @include theme;
            font-weight: bolder;
        }
        
        a:hover{

        @mixin trans(){
            transition: 0.2s;
            transform: scale(1.05);
        }
        img{
            
            @include trans;
            transform: scale(1.08);
            box-shadow: 0px 5px 20px 0px white;
            margin-top: 4px;
            
        }

        .book-author{
            color: #FFDE59;
            @include trans;
        }

        .book-title{
            color: #FFDE59;
            @include trans;
        }
    }
    }

   
    

}

.mylib-row{

    padding-bottom: 50px;
}

.first-row{
    padding-top: 50px;
}


#mylib-empty{
    padding-top: 50px;
    color: white;
    font-family:Maharlika,serif;
}


.no-matches{
    padding-top: 50px;
    color: white;
    font-family:Maharlika,serif;
}



svg:hover{
    transform: scale(1.08);
}


.foot{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    background-color: rgba(255, 255, 255, 0.84);
    
}
footer{
    
    hr{
        height: 2px;
        background-color: #312B59;
        width: 900px
        
    }
    
    
}

#mylib-stats span{
    font-size: 2rem;
  }